@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: Arial, Helvetica, sans-serif;
}

.topbar img{
    float: right;
    width: 100px;
    margin-top: -80px;
}

.topbar{
    padding: 5px;
    border-bottom: 2px solid #333;
    
}

.topbar h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: lighter;
    font-size: 3.7rem;
    
    text-align: center;
    text-shadow: 3px 2px 0px #999999d0;
}

.subbar{
    border-bottom: 2px solid #333;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    padding: 10px;
    color: black;
    text-decoration: none;
}

#futebolbtn, #regiaoemundobtn, #iniciobtn{
    background: #fff;
    color: black;
    font-size: 1rem;
    border: none;
    padding: 15px;
    cursor: pointer;
    text-decoration: underline;
}

#futebolbtn:hover, #regiaoemundobtn:hover, #iniciobtn:hover{
    background: black;
    color: #fff;
    transition: .4s;
}

#navesquerdo{
    display: none;
}

.subbar img{
    width:60px;
}

.subbar .insta{
    width: 22px;
    display: flex;
}

.noticias{
    display: flex;
    justify-content: space-between;
    background: #333;
}

.esquerda, .direita{
    max-width: 49.9%;
    min-width: 49.9%;
    padding: 10px;
    padding-top: 0;
    background: #fff;
}

.esquerda h3, .direita h3{
    color: #555555;
    padding: 10px;
}

.noticia{
    border-bottom: 2px solid #333;
}

.noticia h2{
    padding: 5px;
}

.noticia img{
    width: 100%;
    margin: auto;
    display: block;
}

.noticia small{
    font-size: 0.9rem;
}

.noticia p{
    font-size: 1.5rem;
    padding: 5px;
}

@media (max-width: 720px) {
    .topbar img{
        display: none;
    }
    #navesquerdo{
        display: flex;
    }
    #ano, #escola{
        display: none;
    }
    #iniciobtn{
        display: flex;
    }
    .insta{
        justify-content: center;
    }
    .direita{
        display: none;
    }
    .esquerda{
        min-width: 100%!important;
    }
    .noticia img{
        width: 100%!important;
    }
}